.question-card {
  margin-bottom: 10px;
}

.question-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-options-btn {
  width: 35%;
  min-height: 4em;
  margin: 5px;
}

.question-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

button {
  margin: 5px;
}
